@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------- Base Layer ---------- */
@layer base {
  body {
    @apply bg-background text-textPrimary font-sans;
  }

  h1 {
    @apply font-heading text-3xl font-bold;
  }

  h2 {
    @apply font-heading text-2xl font-semibold;
  }

  h3 {
    @apply font-heading text-xl font-semibold;
  }
}

/* ---------- Component Layer ---------- */
@layer components {
  .btn-primary {
    @apply bg-primary text-white px-5 py-2.5 rounded-2xl shadow-soft hover:bg-primary-dark transition;
  }

  .btn-secondary {
    @apply bg-secondary text-white px-5 py-2.5 rounded-2xl hover:bg-secondary-dark transition;
  }

  .btn-danger {
    @apply bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-700 transition;
  }


  .btn-outline {
    @apply border border-primary text-primary px-5 py-2.5 rounded-2xl hover:bg-primary hover:text-white transition;
  }

  .card {
    @apply bg-surface rounded-2xl shadow-card p-5;
  }

  .input {
    @apply border border-textMuted/30 bg-white rounded-xl px-4 py-2 focus:outline-none focus:ring-2 focus:ring-primary;
  }

  .price {
    @apply text-primary font-semibold;
  }

  .badge {
    @apply bg-accent/20 text-accent px-2 py-1 rounded-lg text-sm;
  }

  .search-box {
  @apply w-full flex items-center gap-3 bg-white border border-textMuted/20 
         rounded-2xl px-4 py-2.5 shadow-soft 
         focus-within:ring-2 focus-within:ring-primary transition;
}

.search-input {
  @apply flex-1 bg-transparent outline-none text-textPrimary 
         placeholder:text-textMuted;
}

.search-icon {
  @apply text-textMuted;
}

.search-clear {
  @apply text-textMuted hover:text-primary transition cursor-pointer;
}

}

